.minimalRow {
  border-bottom: none !important; // tableV2 needs to be override by css
}

.incidentsNameContainer {
  max-width: calc(100% - 120px) !important;
}

.paginationFix {
  position: relative;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
  &:hover {
    text-decoration: inherit;
  }
}
