.detailsCardContainer {
  padding: 0 !important;
  width: 30%;
  background-color: var(--white);
  min-width: 400px;
}

.timelineCardContainer {
  padding: 0 !important;
  width: 70%;
  background-color: var(--white);
}

.detailsSectionContainer {
  overflow: auto;
  gap: 2rem;
}

.internalContainers {
  gap: 0.5rem;
}

.timelineSectionContainer {
  overflow: auto;
  gap: 1rem;
}

.filterButton {
  background: var(--white);
  border: 1px solid var(--grey-400);
  outline: none;
  border-radius: 4px;
  padding: 0.25rem 1rem;

  &:hover {
    background: var(--grey-100);
  }

  &:active {
    background: var(--grey-200);
  }

  &.active {
    background: var(--grey-100);
  }
}
