.detailsCardContainer {
  padding: 0 !important;
  width: 40%;
}

.timelineCardContainer {
  padding: 0 !important;
  width: 60%;
}

.detailsSectionContainer {
  overflow: auto;
  gap: 2rem;
}

.internalContainers {
  gap: 0.5rem;
}

.timelineSectionContainer {
  overflow: auto;
  gap: 1rem;
}
