.detailsCardContainer {
  padding: 0 !important;
  width: 30%;
  background-color: var(--white);
  min-width: 400px;
}

.timelineCardContainer {
  padding: 0 !important;
  width: 70%;
  background-color: var(--white);
}

.detailsSectionContainer {
  overflow: auto;
  gap: 2rem;
}

.internalContainers {
  gap: 0.5rem;
}

.timelineSectionContainer {
  overflow: auto;
  gap: 1rem;
}
