.infoBanner {
  position: sticky;
  top: 0;
  height: 56px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: var(--spacing-large);
  padding-right: var(--spacing-large);
}

.info {
  background-color: var(--ai-purple-100);
}

.levelUp {
  background-color: var(--orange-50);
}

.infoIcon {
  color: var(--primary-6) !important; // needed to override as icon color from props is not working
}
