.sideNavMainContainer {
  box-shadow: 0px 4px 8px 0px #60617029, 0px 0px 2px 0px #28293d0a;
  position: relative;
  z-index: 10;
}

.sideNavLinkContainer {
  flex: 1 1 auto;
  overflow-y: auto;
  gap: 0.5rem;
}

.link {
  display: block;
  padding: var(--spacing-small) var(--spacing-medium);
  z-index: 1;
  border-radius: 4px;
  .text {
    color: var(--grey-600) !important;
    svg {
      fill: var(--grey-600);
    }
  }

  &:hover {
    text-decoration: none;
    background-color: var(--purple-50);
    .text {
      color: var(--primary-7) !important;
      svg {
        fill: var(--primary-7);
      }
    }
  }

  &.selected {
    background-color: var(--purple-50);
    .text {
      color: var(--primary-7) !important;
      svg {
        fill: var(--primary-7);
      }
    }
  }

  .text {
    color: var(--black);
  }
}

.userButtonContainer {
  .userButton {
    background: none;
    border: none;
    width: 100%;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }

  :global {
    .bp3-popover-wrapper {
      display: block;
      .bp3-popover-target {
        display: block;
      }
    }
  }
}

.gettingStarted {
  display: block;
  padding: var(--spacing-small) var(--spacing-medium);
  z-index: 1;
  border-radius: 4px;
  border: 1px solid var(--purple-400);
  svg {
    path {
      fill: var(--purple-700);
    }
  }

  &:hover {
    text-decoration: none;
    background: var(--purple-50);
  }

  &.gettingStartedSelected {
    background: var(--purple-50);
  }
}
